/* styles.css for index.html */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* Remove default padding and margins */
    padding: 0;
    margin: 0;
    /* Add roboto font */
    font-family: 'Roboto';
    font-weight: 500;
}

/* header, links, and hero text box */
.main {
    background-color: #1f2937;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 16px 256px 128px 256px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    font-weight: 300;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Placeholder section */
.placeholder {
    display: flex;
    align-items: center;
    padding: 0 256px 128px 256px;
    gap: 32px;
}

.hero-text {
    /* slightly increased size to match specs */
    font-size: 52px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.secondary-text {
    /* slight increase for aesthetics */
    font-size: 22px;
    font-weight: 300;
    color: #e5e7eb;
    margin-top: 0;
}

.button-1 {
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    padding: 10px 42px;
    color: #f9faf8;
    font-weight: 500;
    font-size: 18px;
    /* on hover make pointer cursor appear */
    cursor:pointer;
}

.pimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 600px;
    height: auto;
}

/* information section */
.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 64px;
}

.boxes-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.box-n-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #6d747d;
    padding-bottom: 64px;
}

.box {
    min-width: 200px;
    min-height: 200px;
    flex-shrink: 0;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.quote {
    background-color: #e5e7eb;
}